@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h4>Wanna do some math?</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">YEAH!</a>
    </div>
</body>
</html>